@media (min-width: 1281px) {
  html {
    font-size: 1em;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  html {
    font-size: 0.8em;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  html {
    font-size: 0.6em;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  html {
    font-size: 0.6em;
  }
}

@media (min-width: 375px) and (max-width: 480px) {
  html {
    font-size: 0.5em;
  }
}

@media (max-width: 375px) {
  html {
    font-size: 0.35em;
  }
}

* {
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
}

nav {
  position: fixed;
  margin: 13px;
  top: 0;
  display: flex;
  z-index: 1000;
  width: 100%;
  transition: top 500ms ease-in-out;
}

nav.scroll-up {
  top: 0;
}

nav.scroll-down {
  top: -100%;
}

nav.scroll-up,
nav:focus-within {
  top: 0;
}

.nav-logo {
  position: absolute;
  display: flex;
  left: 1rem;
  top: 1rem;
  width: 6em;
}

.hero {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  height: 900px;
  min-height: 100vh;
  margin: 0;

  z-index: 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.img {
  z-index: 3;
  margin: 0 auto;
  padding: 0;
}

.description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  font-weight: bold;
  z-index: 2;
   {
    /*
    transform-origin: 0 0;
    transform: translateZ(-2px) scale(3);
    */
  }
}

 {
  /*.parallax-container {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}*/
}

.introduction {
  left: 155px;
  text-align: left;
}

.introduction h1 {
  font-size: 6rem;
  margin: 0;
}

.introduction h4 {
  font-size: 2.25rem;
  margin: 0 0 8px 0;
}

.role {
  right: 155px;
  text-align: center;
}

.role h3 {
  font-size: 3rem;
  margin: 0 0 20px 0;
  line-height: 1.5;
}

button {
  width: 206px;
  height: 47px;
  border: none;
  box-shadow: 2px 2px 6px rgba(47, 47, 89, 0.25);
  border-radius: 83px;
  background: #bbbbbb;
  font-size: 18px;
  color: black;
  font-weight: bold;
  margin: 0;
}

button:hover {
  border: 3px solid #555da2;
  cursor: pointer;
}

@media (min-width: 1281px) {
  .img {
    max-width: 765px;
  }

  .description {
    top: 30%;
  }

  .hero {
    max-height: 100vh;
  }
}

/*Device = Laptops, Desktops
  Screen = B/w 1025px to 1280px*/

@media (min-width: 1025px) and (max-width: 1280px) {
  .img {
    max-width: 553px;
  }

  .description {
    top: 20%;
  }

  .hero {
    max-height: 100vh;
  }
}

/*Device = Tablets, Ipads (portrait)
  Screen = B/w 768px to 1024px*/

@media (min-width: 768px) and (max-width: 1024px) {
  .img {
    max-width: 553px;
  }
  .description {
    top: 20%;
  }
  .hero {
    max-height: 100vh;
  }
}

/*Device = Tablets, Ipads (landscape)
Screen = B/w 768px to 1024px*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .img {
    max-width: 553px;
  }

  .description {
    top: 20%;
  }

  .hero {
    max-height: 100vh;
  }
}

/*Device = Low Resolution Tablets, Mobiles (Landscape)
  Screen = B/w 481px to 767px*/

@media (min-width: 481px) and (max-width: 767px) {
  .img {
    width: 375px;
  }

  .description {
    top: 8%;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    height: 437px;
  }

  .introduction {
    text-align: center;
    margin-bottom: 5em;
  }

  .role {
    margin-bottom: 20px;
  }

  .hero {
    min-height: 875px;
    max-height: 100vh;
  }
}

@media (min-width: 540px) and (max-width: 767px) and (orientation: landscape) {
  .img {
    max-width: 553px;
  }

  .description {
    top: 0%;
    width: 100%;
    position: absolute;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .hero {
    min-height: 481px;
    max-height: 100vh;
  }

  .introduction {
    left: 155px;
    text-align: center;
  }

  .role {
    margin-bottom: 20px;
  }

  .img {
    width: 250px;
  }

  button {
    width: 160px;
    height: 34px;
    font-size: 13px;
  }
}

/*Device = Most of the Smartphones Mobiles (Portrait)
  Screen = B/w 320px to 479px*/

@media (min-width: 375px) and (max-width: 480px) {
  .img {
    width: 375px;
  }

  .role {
    margin-bottom: 20px;
  }

  .description {
    margin-top: 14em;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    height: 450px;
  }

  .introduction {
    text-align: center;
    margin-bottom: 5em;
  }

  .hero {
    min-height: 812px;
    max-height: 100vh;
  }

  button {
    width: 170px;
    height: 40px;
  }
}

@media (max-width: 375px) {
  .description {
    margin-top: 8em;
    flex-direction: column;
    text-align: center;
    height: 300px;
  }

  .hero {
    min-height: 550px;
    max-height: 100vh;
  }

  .introduction {
    text-align: center;
  }

  .role {
    margin-bottom: 20px;
  }

  .img {
    width: 250px;
  }

  button {
    width: 160px;
    height: 34px;
    font-size: 13px;
  }
}

@media (max-width: 250px) {
  .img {
    width: 100%;
  }

  button {
    width: 160px;
    height: 34px;
    font-size: 13px;
  }
}
