@media (min-width: 1281px) {
  html {
    font-size: 1em;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  html {
    font-size: 0.8em;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  html {
    font-size: 0.6em;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  html {
    font-size: 0.6em;
  }
}

@media (min-width: 375px) and (max-width: 480px) {
  html {
    font-size: 0.5em;
  }
}

@media (max-width: 375px) {
  html {
    font-size: 0.35em;
  }
}

body {
  background: linear-gradient(
    256.91deg,
    rgba(104, 104, 104, 0.59) -4.41%,
    #252525 108.91%
  );
  background-repeat: no-repeat;
}

* {
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
}

nav {
  position: sticky;
  top: 0;
  display: flex;
  z-index: 4;
  width: 100%;
}

nav {
  /* default styling */
  transition: top 500ms ease-in-out;
}

nav.scroll-up {
  top: 0;
}

nav.scroll-down {
  top: -100%;
}

.nav-logo {
  position: absolute;
  display: flex;
  left: 1rem;
  top: 1rem;
  width: 6em;
}

.hero {
  position: relative;
  min-height: 900px;
  max-height: 100vh;
  padding-top: 20px;
  z-index: 0;
  text-align: center;
  margin: 0;
  width: 100%;
}

.description {
  width: 100%;
  position: absolute;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
}

.introduction {
  left: 155px;
  text-align: left;
}

.introduction h1 {
  font-size: 6rem;
  margin: 0;
}

.introduction h4 {
  font-size: 2.25rem;
  margin: 0 0 8px 0;
}

.role {
  right: 155px;
}

.role h3 {
  font-size: 3rem;
  margin: 0 0 20px 0;
  line-height: 1.5;
}

button {
  width: 206px;
  height: 47px;
  box-shadow: 2px 2px 6px rgba(47, 47, 89, 0.25);
  border: none;
  border-radius: 83px;
  background: #bbbbbb;
  font-size: 18px;
  color: black;
  font-weight: bold;
  margin: 0;
}

button:hover {
  border: 3px solid #555da2;
  cursor: pointer;
}

.img {
  position: absolute;
  bottom: 0;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  padding: 0;
}

@media (min-width: 1281px) {
  .img {
    max-width: 765px;
  }

  .description {
    top: 30%;
  }

  .hero {
    max-height: 100vh;
  }
}

/*Device = Laptops, Desktops
  Screen = B/w 1025px to 1280px*/

@media (min-width: 1025px) and (max-width: 1280px) {
  .img {
    max-width: 553px;
  }

  .description {
    top: 20%;
  }

  .hero {
    max-height: 100vh;
  }
}

/*Device = Tablets, Ipads (portrait)
  Screen = B/w 768px to 1024px*/

@media (min-width: 768px) and (max-width: 1024px) {
  .img {
    max-width: 553px;
  }
  .description {
    top: 20%;
  }
  .hero {
    max-height: 100vh;
  }
}

/*Device = Tablets, Ipads (landscape)
Screen = B/w 768px to 1024px*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .img {
    max-width: 553px;
  }

  .description {
    top: 20%;
  }

  .hero {
    max-height: 100vh;
  }
}

/*Device = Low Resolution Tablets, Mobiles (Landscape)
  Screen = B/w 481px to 767px*/

@media (min-width: 481px) and (max-width: 767px) {
  .img {
    width: 375px;
  }

  .description {
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 437px;
  }

  .introduction {
    text-align: center;
  }

  .role {
    margin-bottom: 20px;
  }

  .hero {
    min-height: 812px;
    max-height: 100vh;
  }
}

/*Device = Most of the Smartphones Mobiles (Portrait)
  Screen = B/w 320px to 479px*/

@media (min-width: 375px) and (max-width: 480px) {
  .img {
    width: 375px;
  }

  .role {
    margin-bottom: 20px;
  }

  .description {
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 437px;
  }

  .introduction {
    text-align: center;
  }

  .hero {
    min-height: 812px;
    max-height: 100vh;
  }

  button {
    width: 170px;
    height: 40px;
  }
}

@media (max-width: 375px) {
  .description {
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 300px;
  }

  .hero {
    min-height: 550px;
    max-height: 100vh;
  }

  .introduction {
    text-align: center;
  }

  .role {
    margin-bottom: 20px;
  }

  .img {
    width: 250px;
  }

  button {
    width: 160px;
    height: 34px;
    font-size: 13px;
  }
}

@media (max-width: 250px) {
  .img {
    width: 100%;
  }

  button {
    width: 160px;
    height: 34px;
    font-size: 13px;
  }
}
